/* tableStyle01  */
.notitable{position:relative;background:#fff;}

/* before end */
.board_cont .total {}
.board_cont .lSide {float:left; padding:30px 0 0 5px; font-weight:bold;}
.board_cont .rSide {float:right;}
.board_cont .count {color:red !important;}
.board_cont button{display:inline-block;}
.board_cont select{display:inline-block; height:30px; margin-right:10px;}